
p {
    width: 100px;
    height: 100px;
    margin: 10px;
}
li {
float: left;
}
li:nth-child(odd) {
    color: #fff;
    background: blue;
}
li:nth-child(even) {
    color: #fff;
    background: red;
}
span{
    float: left;
}
span p {
    background: yellowgreen;
}

